.venv/
__pycache__/
*.pyc
db.sqlite3
media/reports/*
!media/reports/.gitkeep
media/datasets/*
!media/datasets/.gitkeep
media/models/*
!media/models/.gitkeep
media/predictions/*
!media/predictions/.gitkeep
.system_generated/
*.log
.DS_Store
.idea/
.vscode/
